<div style="padding-top: 20px;" class="container">
  <h1 class="text-center ">Bienvenidos a educacion continua</h1>
  <br>
  <h3 class="text-center"> Lista de cursos disponibles</h3>
  <br>
  <br>
  <div class="container">
    <h1 class="text-center">Bienvenidos aspirante</h1>
    <br>
    <br>
    <div class="">
      <div class="card">
        <h5 class="card-header">Cursos disponibles</h5>
        <div class="card-body">
          <div class="table-responsive ">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Valor</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let curso of cursos">
                  <td>{{curso.nombrecurso}}</td>
                  <td>{{curso.descripcion}}</td>
                  <td>{{curso.valor}}</td>
                  <td><button class="btn btn-primary btn-sm" (click)="ngGetDetail(curso)" role="button">Ver
                      detalle</button></td>
                </tr>
              </tbody>
            </table>
            <br><br>
            <div *ngIf="messageResponse" style="margin: 0% auto" class="alert alert-success text-center col-lg-4"
              role="alert">
              {{ messageResponse.message}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="oneCurso">
  <div class="container">
    <h1 class="text-center">Informacion del curso</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Modalidad</th>
          <th scope="col">Intensidad horaria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{oneCurso[0].nombrecurso}}</td>
          <td>{{oneCurso[0].descripcion}}</td>
          <td>{{oneCurso[0].modalidad}}</td>
          <td>{{oneCurso[0].intensidad}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br><br>
<p class="text-center">
  <a class="btn btn-primary mr-3" [routerLink]="['/login']" role="button">Iniciar sesion</a>
  <a class="btn btn-primary"  [routerLink]="['/register']"  role="button">Registarse</a>
</p>
<br>