<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" href="index.html">Educacion continua Tdea</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" hrngSaliref="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt=""
                class="user-avatar-md rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">{{user.user.nombre}}</h5>
                <span class="status"></span><span class="ml-2">{{user.user.rol}}</span>
              </div>
              <button class="dropdown-item" (click)="ngSalir()">
                <i class="fas fa-power-off mr-2"></i>Cerrar sesion
              </button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div *ngIf="user.user.rol == 'aspirante'" class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">
              Menu aspirante
            </li>
            <li class="nav-item ">
              <a class="nav-link" aria-expanded="false" [routerLink]="['/main/home/aspirante']"
                aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Incio <span
                  class="badge badge-success">6</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/main/home/cursos']" aria-expanded="false"
                aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Ver cursos inscritos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9"
                aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
              <div id="submenu-9" class="collapse submenu">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/map-google.html">Google Maps</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/map-vector.html">Vector Maps</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div *ngIf="user.user.rol == 'coordinador'" class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">
              Menu Coordinador
            </li>
            <li class="nav-item ">
              <a class="nav-link" aria-expanded="false" [routerLink]="['/main/home/coordinador']"
                aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Panel principal<span
                  class="badge badge-success">6</span></a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" aria-expanded="false" [routerLink]="['/main/home/cursos-disponibles']"
                aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>cursos disponibles<span
                  class="badge badge-success">6</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div *ngIf="user.user.rol == 'docente'" class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">
              Menu Docente
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/main/home/cursos-docente']" aria-expanded="false"
                aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Ver cursos asignados</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h2 class="pageheader-title">Educacion continua </h2>
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                </nav>
              </div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="text-md-right footer-links d-none d-sm-block">
              <a href="javascript: void(0);">About</a>
              <a href="javascript: void(0);">Support</a>
              <a href="javascript: void(0);">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- end wrapper  -->
  <!-- ============================================================== -->
</div>